

.texteras{
   width: 100%;
   position: absolute;
   top: 38%;
   background-color:#00214788;
   
}



 /* Button style */
 .button-container {
   position: relative;
   color: white;
}

.hover-button {
   background-color: white;
   color: #0f0e0e;
   font-weight: 400;
   padding: 10px 20px;
   border-radius:5px;
   text-decoration: none;
   position: relative;
   overflow: hidden;
   transition: background-color 0.4s ease;
}

.hover-button::before {
   content: '';
   position: absolute;
   top: 0;
   right: 100%;
   width: 0;
   font-weight: 400;
   height: 100%;
   color: white !important;
   padding: 10px 20px;
   background-color: #2743f893;
   transition: width 0.4s ease;
}

.hover-button:hover::before {
   width: 100%;
   left: 0;
   color: white;
}

.hover-button:hover {
   background-color: #01037880;
   color: white;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
 /* Responsive layout - makes a one column layout instead of a two-column layout */
 
 @media (max-width: 1440px) {
   .flex-container {
    flex-direction: row;
    grid-template-columns: repeat(2,1fr);
   }
 }
 @media (max-width: 800px) {
   .flex-container {
     flex-direction: column;
   }
 }
 @media (max-width: 700px) {
   .flex-container {
     flex-direction: column;
   }
 }
 @media (max-width: 600px) {
   .flex-container {
     flex-direction: column;
   }
 }
 @media (max-width: 500px) {
   .flex-container {
     flex-direction: column;
   }
 }
 @media (max-width: 400px) {
   .flex-container {
     flex-direction: column;
   }
 }
 