.piedouble{
    background-color: blue;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.7) 2px 5px 20px ,rgb(0,0,0,0.7) -5px 0px 250px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(4, 34, 92), rgb(4, 34, 111));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.brushbr{
    background-color: blue;
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.7) 2px 5px 20px ,rgb(0,0,0,0.7) -5px 0px 250px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(4, 34, 92), rgb(4, 34, 111));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}