@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=PT+Serif&family=Raleway:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Manrope:wght@500&family=PT+Serif&family=Raleway:wght@400;500;600;700;800&display=swap');

.ft-text{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.ft-t{
    font-family: 'Arvo', serif;
    font-weight: 400;
    color: #12355c3f;

}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.icn{
    display: inline-block;
    height:35px;
    width: 35px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height:35px;
    border-radius: 50%;
    background-color: #9ca3af;
    transition:all 0.5s ease;
    color: #1a1c24;
}
.icn:hover{
    color: #f0f2fa;
    background: linear-gradient(#23138af8,rgba(42, 149, 255, 0.837));
}

.footer-link{
   
    font-size: 15px;
    font-weight: 500; 
}

.btn-col{
    background: linear-gradient(#7461fec1,rgba(42, 149, 255, 0.583));
   
    font-size: 13px;
    font-weight: 500;
}
.logoweight{
   
    font-weight: 600;  
}
.btn-col:hover{
    background-color: #1d4ed8;
   
    font-size: 13px;
    font-weight: 200;
}

.foter-text{
    font-size: 15px;
    font-family: "Libre Baskerville", serif;
    font-weight: 300;
}



@media (max-width: 540px) {
    .footer-grid{
       
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media (max-width: 410px) {
    .footer-grid{
        
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media (max-width: 310px) {
    .footer-grid{
        
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media (max-width: 680px) {
    .footer-grid{
      
        grid-template-columns: repeat(2,1fr);
    }
    
}